<a href="https://colab.research.google.com/github/lvlanson/data_mining/blob/main/Praktikum_2_Aufgabe_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# - Feature Selection: Select a subset of input features from the dataset.
#   - Unsupervised: Do not use the target variable (e.g. remove redundant variables).
#       - Correlation
#   - Supervised: Use the target variable (e.g. remove irrelevant variables).
#       - Wrapper: Search for well-performing subsets of features.
#           - RFE
#       - Filter: Select subsets of features based on their relationship with the target.
#           - Statistical Methods
#           - Feature Importance Methods
#   - Intrinsic: Algorithms that perform automatic feature selection during training.
#       - Decision Trees
# - Dimensionality Reduction: Project input data into a lower-dimensional feature space.

# Quelle: https://machinelearningmastery.com/feature-selection-with-real-and-categorical-data/

In [2]:
def filter_selection(X, selector):
  return X[X.columns[selector.get_support(indices=True)]]

In [3]:
import pandas as pd

url    = "https://raw.githubusercontent.com/lvlanson/data_mining/main/Praktikum_2/Bodyfat.csv"
data_frame = pd.read_csv(url, sep=";", error_bad_lines=False)

In [4]:
data_frame.describe()

           Dichte  Koerperfettanteil  ...  Unterarmumfang  Handgelenkumfang
count  252.000000         252.000000  ...      252.000000        252.000000
mean     1.055574          19.150794  ...       28.663889         18.229762
std      0.019031           8.368740  ...        2.020691          0.933585
min      0.995000           0.000000  ...       21.000000         15.800000
25%      1.041400          12.475000  ...       27.300000         17.600000
50%      1.054900          19.200000  ...       28.700000         18.300000
75%      1.070400          25.300000  ...       30.000000         18.800000
max      1.108900          47.500000  ...       34.900000         21.400000

[8 rows x 15 columns]

In [5]:
# a) Forward Feature Selection
# X - Feature Set
# y - Label was es vorherzusagen gilt

X = data_frame.drop("Nackenumfang", axis=1)
y = data_frame["Nackenumfang"]

In [6]:
# Feature Selection

# coefficient: gibt an wie weit im Schnitt sich der Wert vom Mittelwert abweicht
# p-value: wenn unter 0.05 lässt das auf einen Zusammenhang zwischen X und Y schließen


import statsmodels.api as sm

est = sm.OLS(y, X)
stat = est.fit()
print(stat.summary())

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

                                 OLS Regression Results
=======================================================================================
Dep. Variable:           Nackenumfang   R-squared (uncentered):                   0.999
Model:                            OLS   Adj. R-squared (uncentered):              0.999
Method:                 Least Squares   F-statistic:                          1.838e+04
Date:                Tue, 10 Nov 2020   Prob (F-statistic):                        0.00
Time:                        09:48:20   Log-Likelihood:                         -394.40
No. Observations:                 252   AIC:                                      816.8
Df Residuals:                     238   BIC:                                      866.2
Df Model:                          14
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Dichte               19.0067      4.140      4.591      0.000      10.850      27.163
Koerperfettanteil     0.0061      0.021      0.291      0.772      -0.035       0.047
Alter                 0.0144      0.009      1.601      0.111      -0.003       0.032
Gewicht_lbs           0.0610      0.014      4.351      0.000       0.033       0.089
Groesse_inch         -0.0113      0.026     -0.428      0.669      -0.063       0.041
Brustumfang           0.0123      0.027      0.448      0.654      -0.042       0.066
Bauchumfang           0.0471      0.029      1.610      0.109      -0.011       0.105
Hueftumfang          -0.1147      0.040     -2.877      0.004      -0.193      -0.036
Obschenkelumfang      0.0751      0.040      1.885      0.061      -0.003       0.154
Knieumfang           -0.1517      0.066     -2.294      0.023      -0.282      -0.021
Fussgelenkumfang     -0.0857      0.061     -1.407      0.161      -0.206       0.034
Oberarmumfang         0.0693      0.047      1.469      0.143      -0.024       0.162
Unterarmumfang        0.1132      0.055      2.052      0.041       0.005       0.222
Handgelenkumfang      0.5929      0.146      4.060      0.000       0.305       0.881
==============================================================================
Omnibus:                       20.250   Durbin-Watson:                   1.914
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               53.462
Skew:                          -0.292   Prob(JB):                     2.46e-12
Kurtosis:                       5.180   Cond. No.                     1.53e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.53e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [7]:
### Feature Selection mit Variance Threshhold
# Daten mit niedriger bis keiner Varianz werden nichts zum Model beitragen, also entfernen

from sklearn.feature_selection import VarianceThreshold


selector = VarianceThreshold(threshold=0.8)
selector.fit_transform(X)
selector.get_support()

# 0 (Dichte) wurde aussortiert
print(selector.get_support(indices=True))

X = filter_selection(X, selector)

# Dichte wurde entfernt

X.head()

[ 1  2  3  4  5  6  7  8  9 10 11 12 13]

   Koerperfettanteil  Alter  ...  Unterarmumfang  Handgelenkumfang
0               12.3     23  ...            27.4              17.1
1                6.1     22  ...            28.9              18.2
2               25.3     22  ...            25.2              16.6
3               10.4     26  ...            29.4              18.2
4               28.7     24  ...            27.7              17.7

[5 rows x 13 columns]

In [8]:
### Feature Selection mit Univariate Feature Selection (K-Best)
# Features werden bepunktet und nur die k-besten werden zurückgegeben
# Es wird eine Funktion festgelegt, anhand derer die Bepunktung stattfindet

# Für f_regression werden F-Tests durchgeführt. Es werden alle Features
# geprüft auf den F-Test, der beste wird gewählt (M_1). Es wird dann ein weiteres
# Feature in Kombination mit M_1 aus den übrigen Features getestet. Dies wird
# solange wiederholt, bis die k-besten Features ausgewählt wurden.

# Der F-Test ist ein statistisches Verfahren, bei dem unter der Nullhypothese
# der Zusammenhang zwischen statistischen Populationen geprüft wird.

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

selector = SelectKBest(f_regression, k=5)
X_freg   = selector.fit_transform(X, y)

X_freg   = filter_selection(X, selector)

X_freg

     Gewicht_lbs  Brustumfang  Bauchumfang  Hueftumfang  Handgelenkumfang
0         154.25         93.1         85.2         94.5              17.1
1         173.25         93.6         83.0         98.7              18.2
2         154.00         95.8         87.9         99.2              16.6
3         184.75        101.8         86.4        101.2              18.2
4         184.25         97.3        100.0        101.9              17.7
..           ...          ...          ...          ...               ...
247       134.25         89.2         83.6         88.8              18.5
248       201.00        108.5        105.0        104.5              20.1
249       186.75        111.1        111.5        101.7              18.0
250       190.75        108.3        101.3         97.8              19.8
251       207.50        112.4        108.5        107.1              20.9

[252 rows x 5 columns]

In [9]:
### Feature Selection mit Univariate Feature Selection (K-Best)
# Features werden bepunktet und nur die k-besten werden zurückgegeben
# Es wird eine Funktion festgelegt, anhand derer die Bepunktung stattfindet

# Mutual Information quantifiziert die Menge an Information die eine Variable
# einer statistischen Population über eine andere ausdrückt. Das Konzept ist
# stark mit dem der Entropie verbunden.

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import mutual_info_regression

selector = SelectKBest(mutual_info_regression, k=5)
X_mut    = selector.fit_transform(X, y)

X_mut    = filter_selection(X, selector)

X_mut

     Gewicht_lbs  Brustumfang  Hueftumfang  Oberarmumfang  Unterarmumfang
0         154.25         93.1         94.5           32.0            27.4
1         173.25         93.6         98.7           30.5            28.9
2         154.00         95.8         99.2           28.8            25.2
3         184.75        101.8        101.2           32.4            29.4
4         184.25         97.3        101.9           32.2            27.7
..           ...          ...          ...            ...             ...
247       134.25         89.2         88.8           25.6            25.7
248       201.00        108.5        104.5           35.2            28.6
249       186.75        111.1        101.7           31.3            27.2
250       190.75        108.3         97.8           30.5            29.4
251       207.50        112.4        107.1           33.7            30.0

[252 rows x 5 columns]

In [11]:
### Feature Selection Model basierend
# RandomForestRegressor

from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import SelectFromModel
import numpy as np

regr = RandomForestRegressor(n_estimators=100)
regr = regr.fit(X, y)
prob = -regr.feature_importances_

# Abstimmung ausgeben
print(prob)

# Indizes ermitteln
idx = np.argpartition(prob, -4)[-4:]

print(idx)

# Reduziertes Dataframe ausgeben
X_for = data_frame.iloc[:, idx]

print(X_for)

[-0.01730937 -0.01563635 -0.42860141 -0.00989114 -0.13155285 -0.08319753
 -0.02258944 -0.02960141 -0.02012168 -0.03479305 -0.03336419 -0.07200505
 -0.10133652]
[8 0 3 1]
     Hueftumfang  Dichte  Gewicht_lbs  Koerperfettanteil
0           94.5  1.0708       154.25               12.3
1           98.7  1.0853       173.25                6.1
2           99.2  1.0414       154.00               25.3
3          101.2  1.0751       184.75               10.4
4          101.9  1.0340       184.25               28.7
..           ...     ...          ...                ...
247         88.8  1.0736       134.25               11.0
248        104.5  1.0236       201.00               33.6
249        101.7  1.0328       186.75               29.3
250         97.8  1.0399       190.75               26.0
251        107.1  1.0271       207.50               31.9

[252 rows x 4 columns]